.codehilite .hll { background-color: var(--jp-cell-editor-active-background) }
.codehilite  { background: var(--jp-cell-editor-background); color: var(--jp-mirror-editor-variable-color) }
.codehilite .c { color: var(--jp-mirror-editor-comment-color); font-style: italic } /* Comment */
.codehilite .err { color: var(--jp-mirror-editor-error-color) } /* Error */
.codehilite .k { color: var(--jp-mirror-editor-keyword-color); font-weight: bold } /* Keyword */
.codehilite .o { color: var(--jp-mirror-editor-operator-color); font-weight: bold } /* Operator */
.codehilite .p { color: var(--jp-mirror-editor-punctuation-color) } /* Punctuation */
.codehilite .ch { color: var(--jp-mirror-editor-comment-color); font-style: italic } /* Comment.Hashbang */
.codehilite .cm { color: var(--jp-mirror-editor-comment-color); font-style: italic } /* Comment.Multiline */
.codehilite .cp { color: var(--jp-mirror-editor-comment-color); font-style: italic } /* Comment.Preproc */
.codehilite .cpf { color: var(--jp-mirror-editor-comment-color); font-style: italic } /* Comment.PreprocFile */
.codehilite .c1 { color: var(--jp-mirror-editor-comment-color); font-style: italic } /* Comment.Single */
.codehilite .cs { color: var(--jp-mirror-editor-comment-color); font-style: italic } /* Comment.Special */
.codehilite .kc { color: var(--jp-mirror-editor-keyword-color); font-weight: bold } /* Keyword.Constant */
.codehilite .kd { color: var(--jp-mirror-editor-keyword-color); font-weight: bold } /* Keyword.Declaration */
.codehilite .kn { color: var(--jp-mirror-editor-keyword-color); font-weight: bold } /* Keyword.Namespace */
.codehilite .kp { color: var(--jp-mirror-editor-keyword-color); font-weight: bold } /* Keyword.Pseudo */
.codehilite .kr { color: var(--jp-mirror-editor-keyword-color); font-weight: bold } /* Keyword.Reserved */
.codehilite .kt { color: var(--jp-mirror-editor-keyword-color); font-weight: bold } /* Keyword.Type */
.codehilite .m { color: var(--jp-mirror-editor-number-color) } /* Literal.Number */
.codehilite .s { color: var(--jp-mirror-editor-string-color) } /* Literal.String */
.codehilite .ow { color: var(--jp-mirror-editor-operator-color); font-weight: bold } /* Operator.Word */
.codehilite .w { color: var(--jp-mirror-editor-variable-color) } /* Text.Whitespace */
.codehilite .mb { color: var(--jp-mirror-editor-number-color) } /* Literal.Number.Bin */
.codehilite .mf { color: var(--jp-mirror-editor-number-color) } /* Literal.Number.Float */
.codehilite .mh { color: var(--jp-mirror-editor-number-color) } /* Literal.Number.Hex */
.codehilite .mi { color: var(--jp-mirror-editor-number-color) } /* Literal.Number.Integer */
.codehilite .mo { color: var(--jp-mirror-editor-number-color) } /* Literal.Number.Oct */
.codehilite .sa { color: var(--jp-mirror-editor-string-color) } /* Literal.String.Affix */
.codehilite .sb { color: var(--jp-mirror-editor-string-color) } /* Literal.String.Backtick */
.codehilite .sc { color: var(--jp-mirror-editor-string-color) } /* Literal.String.Char */
.codehilite .dl { color: var(--jp-mirror-editor-string-color) } /* Literal.String.Delimiter */
.codehilite .sd { color: var(--jp-mirror-editor-string-color) } /* Literal.String.Doc */
.codehilite .s2 { color: var(--jp-mirror-editor-string-color) } /* Literal.String.Double */
.codehilite .se { color: var(--jp-mirror-editor-string-color) } /* Literal.String.Escape */
.codehilite .sh { color: var(--jp-mirror-editor-string-color) } /* Literal.String.Heredoc */
.codehilite .si { color: var(--jp-mirror-editor-string-color) } /* Literal.String.Interpol */
.codehilite .sx { color: var(--jp-mirror-editor-string-color) } /* Literal.String.Other */
.codehilite .sr { color: var(--jp-mirror-editor-string-color) } /* Literal.String.Regex */
.codehilite .s1 { color: var(--jp-mirror-editor-string-color) } /* Literal.String.Single */
.codehilite .ss { color: var(--jp-mirror-editor-string-color) } /* Literal.String.Symbol */
.codehilite .il { color: var(--jp-mirror-editor-number-color) } /* Literal.Number.Integer.Long */